<!-- <mat-toolbar color="primary" >
    <mat-toolbar-row >

      <h1>Welcome to Spy Glass Financial Planning!</h1><br>
      <span class="menu-spacer"></span>
       <mat-toolbar-row>
            <div>
            <a mat-button [routerLink]="''" > Home</a>
            <a mat-button [routerLink]="'/goals'" > Your Goals</a>
            <a mat-button [routerLink]="'/payment'" > Recent Payments</a>
            <a mat-button [routerLink]="'/login'" > Log In </a>

            
            

         </div>
        </mat-toolbar-row>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span style="font-size: 12px;">🔥Team RunTime Terror🔥 </span>
    </mat-toolbar-row>
  </mat-toolbar> -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
  
        <br>
        <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="''" > Home</a>
        <a mat-button [routerLink]="'/blog'" > Blog</a>
        <!-- <a mat-button [routerLink]="'/goals'" > Your Goals</a>
        <a mat-button [routerLink]="'/payment'" > Recent Payments</a> -->
        
      </div> 
      <div *ngIf="!isLoggedIn">
        <a mat-button [routerLink]="'/login'" > Log In </a>
              </div> 

      <div class="right" *ngIf="isLoggedIn">
        <!-- <a routerLink='/login'>Welcome {{ userName }}</a> -->
        <a mat-button [routerLink]="'/goals'" > Your Goals</a>
        <a mat-button [routerLink]="'/progress'" > Goal Progress </a>
        <a mat-button [routerLink]="'/payments'" > Recent Payments</a>
        <span></span>
        <a routerLink='/login'>Welcome {{ userName }}</a>
        <button mat-button (click)="logOut()" *ngIf="isLoggedIn">Logout</button> 

      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span style="font-size: 12px;"> 🔥Team RunTime Terror🔥 </span>
    </mat-toolbar-row>
  </mat-toolbar>
