table {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
  }
  h4 {
    text-align: center;
  }

.button {
    text-align:center;
    width: 25%;
    margin: auto;
}

.field{
    min-height: 120%;
}

td{
    height: 100px;
}

a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container {
	margin-left: 10%;
	background-color: white;
	border-radius: 5px;
	padding: 0 15px;
}