.formdiv {
    display: flexbox;
    float: left;
    margin-left: 205px;
}


.submit{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }

h1 {
    text-align: center;
}

.plan{
    float: right;
    padding-right: 200px;
}


