  .formdiv {
    float: left;
    margin-left: 100px;
    background-color: lightgray;
    width: 30%;
    text-align:center;
}

.formdiv {
    float: left;
    margin-left: 100px;
    background-color: lightgray;
    width: 30%;
    text-align:center;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }

h1 {
    text-align: center;
}

.plan{
    float: right;
    padding-right: 280px;
    background-color: lightgray;   
    width: 30%; 
    
}