<h1 style="text-align:center">Add Your New Payment Plans</h1>
   
<div class="formdiv" *ngIf=!submitted>
      <form action="payments" method="POST">
          <!-- <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput id="name" [(ngModel)]="goal.name" name="name">
          </mat-form-field><br><br> -->

          <mat-form-field appearance="fill">
            <mat-label>Goal Name</mat-label>
            <mat-select [(ngModel)]="payment.goal" name="goalid">
              <mat-option *ngFor="let goal of goals" [value]="goal">
                {{ goal.name }}
              </mat-option>
            </mat-select>
          </mat-form-field><br><br>

          <mat-form-field class="example-full-width">
              <mat-label>Deposit Amount</mat-label>
              <input matInput id="depositamt" [(ngModel)]="payment.depositamt" name="depositamt">
          </mat-form-field><br><br>
          <mat-form-field class="example-full-width">
              <mat-label>Start Date</mat-label>
              <input matInput type="date" id="startdate" [(ngModel)]="payment.startdate" name="startdate">
          </mat-form-field><br><br>
          <mat-form-field class="example-full-width">
             <mat-label>Deposit Frequency</mat-label>
             <mat-select id="depositfreq" [(ngModel)]="payment.depositfreq" name="depositfreq">
                <mat-option value="weekly">Weekly</mat-option>
                <mat-option value="bi-weekly">Bi-Weekly</mat-option>
                <mat-option value="monthly">Monthly</mat-option>
                <mat-option value="quarterly">Quartly</mat-option>
              </mat-select>
           </mat-form-field><br><br>

      </form>
      <button mat-button style="background-color:rgb(89, 60, 194);" (click)="savePayment()">
        <mat-icon>account_balance_wallet</mat-icon> Save </button>
</div>

<div *ngIf=submitted class="submit">
  <h4 style="color:rgb(89, 60, 194);width: 400px; margin:auto">Payment was added successfully!!</h4>
  <button mat-button style="color:rgb(89, 60, 194);" (click)="newPayment()">
  <mat-icon>trending_up</mat-icon> Add Another Payment</button>
  <button mat-button style="color:rgb(89, 60, 194);"  routerLink="/payments"><mat-icon>trending_up</mat-icon>Your Payments</button>
</div>
    

