.formdiv {
    display: flexbox;
    text-align: center;
    background-color: lightslategray;
    width: 50%;
    margin: auto;
}
.title {
    background-color: lightsteelblue;

}


.submit{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }
