

  h4{
    text-align: center;
  }

  .submit{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }

  .formdiv {
    display: flexbox;
    text-align: center;
   
}
.form
{
  background-color: lightgray;
  width: 50%;
  margin: auto;

}