<h1 style="text-align:center">Add Your New Goal</h1>
<div class = "formdiv" *ngIf=!submitted>

  <form action="goals" method="POST">
    <mat-form-field hintLabel="Max 15 characters">
      <mat-label>Name</mat-label>
      <input matInput #input maxlength="15" id="name" [formControl]="name" [(ngModel)]="goal.name" name="name" required>
      <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [formControl]="description" [(ngModel)]="goal.description" name="description" id="description" type="text" required>
    </mat-form-field> 

   
    <mat-form-field>
        <mat-label>Start Date </mat-label>
        <input matInput type="date" [formControl]="startdate" [(ngModel)]="goal.startdate" required>
      </mat-form-field>

    <mat-form-field>
      <mat-label>Target Date </mat-label>
      <input matInput type="date" [formControl]="targetdate" [(ngModel)]="goal.targetdate" required>
    </mat-form-field>

    
    <mat-form-field>
      <mat-label>Current Amount Saved </mat-label>
      <input matInput [formControl]="currentsaving" [(ngModel)]="goal.currentsaving" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Target Dollar Amount </mat-label>
      <input matInput [formControl]="targetdollar" [(ngModel)]="goal.targetdollar" required>
    </mat-form-field>
  </form>

    <!-- <mat-form-field>
        <mat-label>Active </mat-label>
        <input matInput [(ngModel)]="goals.active" required>
    </mat-form-field> -->

    <button mat-button style="background-color:rgb(89, 60, 194);" (click)="saveGoal()">
      <mat-icon>account_balance_wallet</mat-icon> Save </button>

    <!-- <div class="errors">
      <mat-error *ngIf="name.invalid">{{getErrorName()}}</mat-error>
      <mat-error *ngIf="description.invalid">{{getErrorDescription()}}</mat-error>
      <mat-error *ngIf="targetDate.invalid">{{getErrorTargetDate()}}</mat-error>
      <mat-error *ngIf="currentSaving.invalid">{{getErrorCurrentSaving()}}</mat-error>
      <mat-error *ngIf="targetDollar.invalid">{{getErrorTargetDollar()}}</mat-error>
    </div>   -->
</div> 
  
  <div *ngIf=submitted class="submit">
    <h4 style="color:rgb(89, 60, 194);width: 400px; margin:auto">Goal was added successfully!!</h4>
    <button mat-button style="color:rgb(89, 60, 194);" (click)="newGoal()">
    <mat-icon>trending_up</mat-icon> Add Another Goal</button>
    <button mat-button style="color:rgb(89, 60, 194);"  routerLink="/goals"><mat-icon>trending_up</mat-icon>Your Goals</button>
  </div>