<!-- <h1 style="text-align:center">Add Your New Goal</h1>
<div class = "formdiv" *ngIf=!submitted>

  <form action="goals" method="POST">
    <mat-form-field hintLabel="Max 15 characters">
      <mat-label>Name</mat-label>
      <input matInput #input maxlength="15" id="name" [formControl]="name" [(ngModel)]="goal.name" name="name" required>
      <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [formControl]="description" [(ngModel)]="goal.description" name="description" id="description" type="text" required>
    </mat-form-field> 

   
    <mat-form-field>
        <mat-label>Start Date </mat-label>
        <input matInput type="date" [formControl]="startdate" [(ngModel)]="goal.startdate" required>
      </mat-form-field>

    <mat-form-field>
      <mat-label>Target Date </mat-label>
      <input matInput type="date" [formControl]="targetdate" [(ngModel)]="goal.targetdate" required>
    </mat-form-field>

    
    <mat-form-field>
      <mat-label>Current Amount Saved </mat-label>
      <input matInput [formControl]="currentsaving" [(ngModel)]="goal.currentsaving" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Target Dollar Amount </mat-label>
      <input matInput [formControl]="targetdollar" [(ngModel)]="goal.targetdollar" required>
    </mat-form-field>
  </form>

    <button mat-button style="background-color:rgb(89, 60, 194);" (click)="saveGoal()">
      <mat-icon>account_balance_wallet</mat-icon> Save </button>


</div> 
  
  <div *ngIf=submitted class="submit">
    <h4 style="color:rgb(89, 60, 194);width: 400px; margin:auto">Goal was added successfully!!</h4>
    <button mat-button style="color:rgb(89, 60, 194);" (click)="newGoal()">
    <mat-icon>trending_up</mat-icon> Add Another Goal</button>
    <button mat-button style="color:rgb(89, 60, 194);"  routerLink="/goals"><mat-icon>trending_up</mat-icon>Your Goals</button>
  </div> -->


  
<h1 style="text-align:center">Add Your New Goal</h1>
   
<div class="formdiv" *ngIf=!submitted>
      <form action="goals" method="POST">
          <mat-form-field hintLabel="Max 15 characters" class="example-full-width">
              <mat-label>Name</mat-label>
              <input matInput #input maxlength="15" type="text" id="name" [(ngModel)]="goal.name" name="name">
              <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
              <mat-label>Description</mat-label>
              <input matInput type="text" id="description" [(ngModel)]="goal.description" name="description">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
              <mat-label>Start Date</mat-label>
              <input matInput type="date" id="startdate" [(ngModel)]="goal.startdate" name="startdate">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
            <mat-label>Target Date</mat-label>
            <input matInput type="date" id="targetdate" [(ngModel)]="goal.targetdate" name="targetdate">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
          <mat-label>Target Dollar</mat-label>
          <input matInput type="number" id="targetdollar" [(ngModel)]="goal.targetdollar" name="targetdollar">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
        <mat-label>Current Savings</mat-label>
          <input matInput type="number" id="currentsaving" [(ngModel)]="goal.currentsaving" name="currentsaving" >
        </mat-form-field><br>

      </form>
      <button mat-button style="background-color:rgb(89, 60, 194);" (click)="saveGoal()">
        <mat-icon>account_balance_wallet</mat-icon> Save </button>
</div>

<div *ngIf=submitted class="submit">
  <h4 style="color:rgb(60, 194, 78);width: 400px; margin:auto">Goal was added successfully!!</h4>
  <button mat-button style="color:rgb(89, 60, 194);" (click)="newGoal()">
  <mat-icon>trending_up</mat-icon> Add Another Goal</button>
  <button mat-button style="color:rgb(194, 60, 143);"  routerLink="/goals"><mat-icon>trending_up</mat-icon>Your Goals</button>
</div>
    
