/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
 
     
    background-image: url("./assets/financial-planning-and-analysis-banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

<<<<<<< HEAD
h1{
    color: antiquewhite;
    text-align: center;
}
h4{
    color: antiquewhite;
    text-align: center;
}
h6{
  
    text-align: center;
}
h5{
    color: antiquewhite;
    text-align: center;
}
=======

h1{
    color: antiquewhite;
}
h4{
    color: antiquewhite;
}
h6{
    color: antiquewhite;
}
h5{
    color: antiquewhite;
}
>>>>>>> ddd8e52fbf3d87b523a6b95fa440beb985bde593
