<header>
    <h1>Financial News</h1>
    <h2><em>Powered by CityFALCON</em></h2>
    <br>
    <p>Check out the latest financial news, savings, and investment information for beginners!</p>
    <hr>
    <br>
</header>

<div class="container">
    <div *ngFor="let item of data" class="card">

        <img class="card-img-top" src="{{item.source.imageUrl}}">
        <div class="card-body">
            <h5 class="card-title">
                {{item.title}}
            </h5>
            <p class="card-text">
                {{item.description}}
            </p>
            <a href="{{item.url}}" large>Read full article</a>
        </div>

    </div>
</div>
